.logo{
    text-align: center;
    margin-top: 16px;
}
.episodes__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

}
.btn{
    text-align: center;
    margin-top: 30px;
}
.episodePage__container{
    padding-bottom: 50px;
}