
.card__container{
    width: 240px;
    height: 128px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14),0px 3px 4px 0px rgba(0, 0, 0, 0.12),0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    background: rgb(250, 250, 250);
    margin: 10px;
}
.location__info {
    text-align: center;
    font-family: Roboto;
    text-align: center;
    margin-top: 30px;
}
.location__name{
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15px;
}
.location__type{
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
}

.card__container:hover{
    background-color: rgba(0, 0, 0, 0.781);
}

.location__name .location__type {
    color: rgba(0, 0, 0, 0.87);
    transition: color 0.3s ease;
}

.card__container:hover .location__name,
.card__container:hover .location__type {
    color: white;
}