.logo{
    text-align: center;
    margin-top: 16px;
}
.location__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
}
.btn{
    text-align: center;
    margin-top: 35px;
}
.locationsPage__container{
    padding-bottom: 50px;
}